*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Home{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px;
    /* place-items: center; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    align-items: flex-start;

}

@media screen and (max-width: 950px){
    .Home{
   
    grid-template-columns: 1fr 1fr;
    
    
    }
}




@media screen and (max-width: 630px){
    .Home{
        grid-template-columns: 1fr;
        place-items: center;
        
    }
}