*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
   
}

.navigation-menu ul{
display: flex;
gap: 20px;
}
.header h1{
    font-size: 30px;
    margin-top: 20px;
}

.navigation-menu ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}

.username{
    text-decoration: none;
}

.navigation-menu ul li a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 890px){
    .header h1{
        
        width: 100px;
        font-size: medium;
    }


    .navigation-menu ul{
        display: flex;
        flex-direction: column;
        gap: 1px;
        }

        .navigation-menu ul li{
            font-size: medium;
        }
}


